* {
    background-color: black;
    color: white;
}

.container {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.foto {
    width: 30%;
    text-align: center;
}

.apresentacao {
    width: 70%;
}
.nome {
    height: 60px;
    text-align: center;
}

.img-perfil {
    width: 250px;
    height: 280px;
    border-radius: 50%;
}

footer {
    margin: 0%;
    text-align: center;
    font-style: italic;
}